<?xml version="1.0"?>
<launch>
    <!-- <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-z 1 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch"></include> -->
    <!-- <param name="robot_description" textfile="$(find odom_sim)/urdf/robot.urdf"/>
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher" output="screen"/>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen"/>  -->
    <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/> -->


    <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="use_tf_static" type="bool" value="true" />
    </node> -->
   
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find odom_sim)/rviz/config.rviz"/> -->
    <arg name="model" default="burger"/>

    <param name="tb3_model" value="$(arg model)"/>
    <include file="$(find odometry)/launch/description.launch.xml"></include>


    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="use_tf_static" type="bool" value="true" />
    </node>

    <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen"/>  -->
    <!-- <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher" output="screen"/> -->

    <node pkg="odometry" type="robot_node" name="turtlebot3_fake_node" output="screen" />
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find odom_sim/rviz/current_1_3.rviz"/> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find odometry)/rviz/standard.rviz"/> 
</launch>
